:root {
  --bug-color: rgb(158, 173, 25);
  --dark-color: rgb(79, 58, 45);
  --dragon-color: rgb(114, 91, 218);
  --electric-color: rgb(250, 183, 22);
  --fairy-color: rgb(243, 175, 243);
  --fighting-color: rgb(127, 51, 28);
  --fire-color: rgb(232, 60, 12);
  --flying-color: rgb(141, 159, 238);
  --ghost-color: rgb(92, 92, 173);
  --grass-color: rgb(110, 191, 49);
  --ground-color: rgb(206, 173, 83);
  --ice-color: rgb(168, 233, 254);
  --normal-color: rgb(195, 190, 180);
  --poison-color: rgb(145, 68, 147);
  --psychic-color: rgb(237, 72, 130);
  --rock-color: rgb(184, 161, 86);
  --steel-color: rgb(179, 179, 194);
  --water-color: rgb(47, 145, 242);
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}

/* ----- BUG ----- */

.bug {
  background-color: var(--bug-color);
}

.bug-dark {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--dark-color)
  );
}

.bug-dragon {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--dragon-color)
  );
}

.bug-electric {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--electric-color)
  );
}

.bug-fighting {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--fighting-color)
  );
}

.bug-fire {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--fire-color)
  );
}

.bug-flying {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--flying-color)
  );
}

.bug-ghost {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--ghost-color)
  );
}

.bug-grass {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--grass-color)
  );
}

.bug-ground {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--ground-color)
  );
}

.bug-poison {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--poison-color)
  );
}

.bug-rock {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--rock-color)
  );
}

.bug-steel {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--steel-color)
  );
}

.bug-water {
  background-image: linear-gradient(
    to right,
    var(--bug-color),
    var(--water-color)
  );
}

/* ----- DARK ----- */

.dark {
  background-color: var(--dark-color);
}

.dark-dragon {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--dragon-color)
  );
}

.dark-fighting {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--fighting-color)
  );
}

.dark-fire {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--fire-color)
  );
}

.dark-flying {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--flying-color)
  );
}

.dark-ghost {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--ghost-color)
  );
}

.dark-ice {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--ice-color)
  );
}

.dark-psychic {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--psychic-color)
  );
}

.dark-steel {
  background-image: linear-gradient(
    to right,
    var(--dark-color),
    var(--steel-color)
  );
}

/* ----- DRAGON ----- */

.dragon {
  background-color: var(--dragon-color);
}

.dragon-electric {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--electric-color)
  );
}

.dragon-fire {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--fire-color)
  );
}

.dragon-flying {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--flying-color)
  );
}

.dragon-ghost {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--ghost-color)
  );
}

.dragon-ground {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--ground-color)
  );
}

.dragon-ice {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--ice-color)
  );
}

.dragon-psychic {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--psychic-color)
  );
}

.dragon-rock {
  background-image: linear-gradient(
    to right,
    var(--dragon-color),
    var(--rock-color)
  );
}

/* ----- ELECTRIC ----- */

.electric {
  background-color: var(--electric-color);
}

.electric-fairy {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--fairy-color)
  );
}

.electric-flying {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--flying-color)
  );
}

.electric-ghost {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--ghost-color)
  );
}

.electric-ground {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--ground-color)
  );
}

.electric-normal {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--normal-color)
  );
}

.electric-steel {
  background-image: linear-gradient(
    to right,
    var(--electric-color),
    var(--steel-color)
  );
}

/* ----- FAIRY ----- */

.fairy {
  background-color: var(--fairy-color);
}

.fairy-flying {
  background-image: linear-gradient(
    to right,
    var(--fairy-color),
    var(--flying-color)
  );
}

/* ----- FIGHTING ----- */

.fighting {
  background-color: var(--fighting-color);
}

.fighting-dark {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--dark-color)
  );
}

.fighting-flying {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--flying-color)
  );
}

.fighting-grass {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--grass-color)
  );
}

.fighting-ice {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--ice-color)
  );
}

.fighting-psychic {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--psychic-color)
  );
}

.fighting-steel {
  background-image: linear-gradient(
    to right,
    var(--fighting-color),
    var(--steel-color)
  );
}

/* ----- FIRE ----- */

.fire {
  background-color: var(--fire-color);
}

.fire-dark {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--dark-color)
  );
}

.fire-flying {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--flying-color)
  );
}

.fire-fighting {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--fighting-color)
  );
}

.fire-ground {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--ground-color)
  );
}

.fire-normal {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--normal-color)
  );
}

.fire-psychic {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--psychic-color)
  );
}

.fire-rock {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--rock-color)
  );
}

.fire-steel {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--steel-color)
  );
}

.fire-water {
  background-image: linear-gradient(
    to right,
    var(--fire-color),
    var(--water-color)
  );
}

/* ----- FLYING ----- */

.flying {
  background-color: var(--flying-color);
}

.flying-dragon {
  background-image: linear-gradient(
    to right,
    var(--flying-color),
    var(--dragon-color)
  );
}

.flying-fairy {
  background-image: linear-gradient(
    to right,
    var(--flying-color),
    var(--fairy-color)
  );
}

.flying-ghost {
  background-image: linear-gradient(
    to right,
    var(--flying-color),
    var(--ghost-color)
  );
}

.flying-normal {
  background-image: linear-gradient(
    to right,
    var(--flying-color),
    var(--normal-color)
  );
}

/* ----- GHOST ----- */

.ghost {
  background-color: var(--ghost-color);
}

.ghost-dark {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--dark-color)
  );
}

.ghost-dragon {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--dragon-color)
  );
}

.ghost-fire {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--fire-color)
  );
}

.ghost-flying {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--flying-color)
  );
}

.ghost-grass {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--grass-color)
  );
}

.ghost-poison {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--poison-color)
  );
}

.ghost-steel {
  background-image: linear-gradient(
    to right,
    var(--ghost-color),
    var(--steel-color)
  );
}

/* ----- GRASS ----- */

.grass {
  background-color: var(--grass-color);
}

.grass-dark {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--dark-color)
  );
}

.grass-fairy {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--fairy-color)
  );
}

.grass-fighting {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--fighting-color)
  );
}

.grass-flying {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--flying-color)
  );
}

.grass-ghost {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--ghost-color)
  );
}

.grass-ground {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--ground-color)
  );
}

.grass-ice {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--ice-color)
  );
}

.grass-poison {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--poison-color)
  );
}

.grass-psychic {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--psychic-color)
  );
}

.grass-steel {
  background-image: linear-gradient(
    to right,
    var(--grass-color),
    var(--steel-color)
  );
}

/* ----- GROUND ----- */

.ground {
  background-color: var(--ground-color);
}

.ground-dark {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--dark-color)
  );
}

.ground-dragon {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--dragon-color)
  );
}

.ground-electric {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--electric-color)
  );
}

.ground-flying {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--flying-color)
  );
}

.ground-ghost {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--ghost-color)
  );
}

.ground-poison {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--poison-color)
  );
}

.ground-psychic {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--psychic-color)
  );
}

.ground-rock {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--rock-color)
  );
}

.ground-steel {
  background-image: linear-gradient(
    to right,
    var(--ground-color),
    var(--steel-color)
  );
}

/* ----- ICE ----- */

.ice {
  background-color: var(--ice-color);
}

.ice-dark {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--dark-color)
  );
}

.ice-fighting {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--fighting-color)
  );
}

.ice-flying {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--flying-color)
  );
}

.ice-ghost {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--ghost-color)
  );
}

.ice-grass {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--grass-color)
  );
}

.ice-ground {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--ground-color)
  );
}

.ice-psychic {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--psychic-color)
  );
}

.ice-water {
  background-image: linear-gradient(
    to right,
    var(--ice-color),
    var(--water-color)
  );
}


/* ----- NORMAL ----- */

.normal {
  background-color: var(--normal-color);
}

.normal-electric {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--electric-color)
  );
}

.normal-fairy {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--fairy-color)
  );
}

.normal-fire {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--fire-color)
  );
}

.normal-flying {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--flying-color)
  );
}

.normal-grass {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--grass-color)
  );
}

.normal-ground {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--ground-color)
  );
}

.normal-psychic {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--psychic-color)
  );
}

.normal-water {
  background-image: linear-gradient(
    to right,
    var(--normal-color),
    var(--water-color)
  );
}

/* ----- POISON ----- */

.poison {
  background-color: var(--poison-color);
}

.poison-bug {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--bug-color)
  );
}

.poison-dark {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--dark-color)
  );
}

.poison-dragon {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--dragon-color)
  );
}

.poison-fighting {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--fighting-color)
  );
}

.poison-flying {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--flying-color)
  );
}

.poison-ground {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--ground-color)
  );
}

.poison-water {
  background-image: linear-gradient(
    to right,
    var(--poison-color),
    var(--water-color)
  );
}

/* ----- PSYCHIC ----- */

.psychic {
  background-color: var(--psychic-color);
}

.psychic-dark {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--dark-color)
  );
}

.psychic-fairy {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--fairy-color)
  );
}

.psychic-fighting {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--fighting-color)
  );
}

.psychic-fire {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--fire-color)
  );
}

.psychic-flying {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--flying-color)
  );
}

.psychic-ghost {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--ghost-color)
  );
}

.psychic-grass {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--grass-color)
  );
}

.psychic-ice {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--ice-color)
  );
}

.psychic-normal {
  background-image: linear-gradient(
    to right,
    var(--psychic-color),
    var(--normal-color)
  );
}

/* ----- ROCK ----- */

.rock {
  background-color: var(--rock-color);
}

.rock-bug {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--bug-color)
  );
}

.rock-dark {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--dark-color)
  );
}

.rock-dragon {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--dragon-color)
  );
}

.rock-fairy {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--fairy-color)
  );
}

.rock-fighting {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--fighting-color)
  );
}

.rock-flying {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--flying-color)
  );
}

.rock-grass {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--grass-color)
  );
}

.rock-ground {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--ground-color)
  );
}

.rock-ice {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--ice-color)
  );
}

.rock-psychic {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--psychic-color)
  );
}

.rock-steel {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--steel-color)
  );
}

.rock-water {
  background-image: linear-gradient(
    to right,
    var(--rock-color),
    var(--water-color)
  );
}

/* ----- STEEL ----- */

.steel {
  background-color: var(--steel-color);
}

.steel-bug {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--bug-color)
  );
}

.steel-dark {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--dark-color)
  );
}

.steel-dragon {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--dragon-color)
  );
}

.steel-fairy {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--fairy-color)
  );
}

.steel-flying {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--flying-color)
  );
}

.steel-fighting {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--fighting-color)
  );
}

.steel-fire {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--fire-color)
  );
}

.steel-ghost {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--ghost-color)
  );
}

.steel-grass {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--grass-color)
  );
}

.steel-ground {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--ground-color)
  );
}

.steel-psychic {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--psychic-color)
  );
}

.steel-rock {
  background-image: linear-gradient(
    to right,
    var(--steel-color),
    var(--rock-color)
  );
}

/* ----- WATER ----- */

.water {
  background-color: var(--water-color);
}

.water-dark {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--dark-color)
  );
}

.water-dragon {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--dragon-color)
  );
}

.water-electric {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--electric-color)
  );
}

.water-fairy {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--fairy-color)
  );
}

.water-fighting {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--fighting-color)
  );
}

.water-fire {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--fire-color)
  );
}

.water-flying {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--flying-color)
  );
}

.water-ghost {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--ghost-color)
  );
}

.water-grass {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--grass-color)
  );
}

.water-ground {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--ground-color)
  );
}

.water-ice {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--ice-color)
  );
}

.water-poison {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--poison-color)
  );
}

.water-psychic {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--psychic-color)
  );
}

.water-rock {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--rock-color)
  );
}

.water-steel {
  background-image: linear-gradient(
    to right,
    var(--water-color),
    var(--steel-color)
  );
}